language: android
jdk: oraclejdk8
android:
  components:
  - tools
  - platform-tools
  - build-tools-26.0.2
  - android-26
  - extra-android-m2repository
licenses:
- android-sdk-preview-license-.+
- android-sdk-license-.+
- google-gdk-license-.+
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
  - "$HOME/.android/build-cache"
before_script:
- if [["$TRAVIS_EVENT_TYPE" == "pull_request"]]; then export apiKey="exampleKey" apiSecret="exampleSecret"; fi
- echo -e "apiKey=\"$wykopApiKey\"\napiSecret=\"$wykopApiSecret\"" >> credentials.properties
script:
- "./gradlew assembleRelease"
before_deploy:
- mv app/build/outputs/apk/release/app-release.apk app/build/outputs/apk/release/wykopmobilny-$TRAVIS_TAG.apk
deploy:
  provider: releases
  api_key:
    secure: mh793ORwYZxd0CERyAYUlyhCeLhCMtvZeklvGrZ4Q6AK8cnacNsg41rOoIK1K1pAqBntXEVLBC3cRg2rAPy0nRT45z3wduUAnDFgvay4lV7FaTO0QwWT8rYWfyWfjEY3Ti13NV+wBa+wF25W6Cr2PNjdge3lVGnck0Xo52X2eMAOuWJMI1Jb2p1QLBAjenPYyh6uSBX8ZScZN0Jx3KVQeFyCoLHwULP8wjVIbTgFbF3qHPNV0l6FZZh7B9WOvHavSk17SDeTD655VoA57vZ/MCBkruwvGmuzs5tixko15kd6+r/mS6DN5NMWlLDODrrTk9xuEYhO8i26bJKwOlSol1A8Ff9vPrVPayp5lbhbdMXJJkeMkDrHG76ugNzeJhJCm67tlq43COUFuin5L8QpC4iOLy3TjOluzkhIn6pZ6OOdsfG3Ip/BpwR+yb+pfaPhiZ1fvuqfDza2ina8bWbYksUoD1AKRDvd1sAg9XqYGxlaxXoL0BeZqTKUwToziaNES2/pGRKNBhM8B+YZyrNYasDPZzKhIWsx6jaXWos3vy7G1JpE8e7xzw/wlemD7fU+/O/hTUaSOtJLCWwoAP3rI42rZEpuAPAZ9aNvtA3PmZUssuZzeEH3zyAU4LhSXE2YH82lRph/sDZjbOnfTo8Sbho/G334gARb15d34YmareU=
  file: app/build/outputs/apk/release/wykopmobilny-$TRAVIS_TAG.apk
  skip_cleanup: true
  on:
    all_branches: true
    repo: feelfreelinux/WykopMobilny
    tags: true
env:
  global:
  - secure: teHBCHSeoGRamuHwwfqRVs7xs/oia911ij0oBdVg4Na9KbunnNJRAFwVB3RWCKhbaVAJkOvoKyNuWWIeXedS+Ia9/IBsSlvL0tOXdJZUtzM0tq56VNMncllDyleBUfBvYCsaDtsb54c0G6fgdjpD1C0l8+rGnJn7IbIWChTtblXpcoulCGmmnq/lp2KtHBEr8frZvChQMXmGdroiiJLWVhhVmtsyorc3tsI3CdaHVzztFh9ruzT45Wky0oYWuT16wLYaPiVGBR6S9Ear70TCXSIj6y2Mxu4Yt/Ig4o4zYp/9vVc5Exk+DZ4bZxJ+DaKNji8LSPVzEyVjWkmMuewELUusbV2Vrkg/bBYHeRjB/f5EHS+6lpQL4paRxtRL7UOBzAYsF6ckxKMEyksl4lXT1on8whfDhtWLWl81IboDX6Bsp53p2Nb7BJPENfEsUM5WhhYdFsqIiYrSfM61uxdpYkp/jy70uwMlWbgojvvs0hifC2L7Ve+iacJnDcnMPsvy//2V3PWtcAobiBNH7d5934YIEq3O0ylyyaxqWd1wtKej42woQrXLTTM/F0mXio6CrrEiJ0EYs83fxgyI055hPOecW1Zh0mRMuT/Mo8N/EsDGkpYRzBXPw1nylN0jGyg1y4zTTScKo/Ezk0TvmIpaM5Le0FEYRW9J8Rp6xaUyZds=
  - secure: DnMnA8OB7PufQnJE8+PNN5BZ9pWCCjmggMSm9nlJAJQX9VGYK7+vFRosYA27u++f/neZYR6IHr8iaIaUFCBUzIZ2/WT+bwuz1TiREKTbJCtbvOS/N36Zpm992psU11zCtVPlkg44/yJe1ItH/ctAwQE3fE/w3C99rucbeUfcly55+QeIU/8jkCwBb55HB1SIz6D+QtJ8HqvhyG+/+EcbJ1DPomR8gCH0tDUEgHMS1vzMALhJ0BiHP1biWWawbiEPivEZ491Z44QVxyTg+RJ8nPQtSua9jVej6XWuESS3g0AVuT7ybk1FR4sZubkFSjRLhiAJ3miGzJYkXtDiCwopDx80DsmGqXM5D1g93tNy3e/WZ8r2t7TwsqNY3kNFR0iyPxvFEyxOfwvITM2KV7OFrYsmGgFwmGUxCAlo0m9oy92CSJDwp4BBCX+TYc6ANkM+SRZhmGWSwvCWyAkAtNjTnX3hH+fvTIvrAP1khxvP3mAvXuz/IcjaAHAfkq/ya9WZ5Ey9/A4PoMSUGBIqD5sry0EIki5SnHSkt8DBypRK6e71IjZblyZkCtz636tkA4Pk+i7G2rAHud37F9khKhNv0Z6D8jWL5pQirQ2eTzG1DYv4gE3tmznCDHpPZiTYfbT6165UTepUkEDCNDq2+nhCkHAF0zsX4ooy1/iHKwMh7qM=
  - secure: L+jstmzIMMCUjcFUVlT91UtClx+UsaiYmoippcglI0FzTjxdlxickmqZOJaunwLRNL9UEjlIuxtvMrv+C8p0205Q/yAI2UEGmij3rzBnADias19pbgyOHS6xbH6E9nGReyh/EE7nxbHmjtFYZYAXSdjUn74TASYg9AZnps0WF6z3ZZtYCY/47KeYJdGJb+M9RfBZr24gUCBlZEkGxrrs/LFJCWzfoAiZPQqWP/8sO002HDrlVg99nRKaBXoMFTOhBagy9dhsp3rcdt7ylwO8TLLbvZh27JX314l3cRA3oLqR0Iw0xKGT1ws8pJ+NAsQunSfPCmh6Vgdydw1WJQC9R7/vbh4p6pev/KVBVh3nyvqvDVv8u/vzG7+hvxdJ5l2BAph2jT7nyfYuqqUui+Qt8W0mXJqbuAFnOt9GndnMaSI+h93UGk4Vbh/Osssrjev1negz9hvhv5h7UITVcOJCzfEF2J9934N4q43dYe1jrcUzl5HbsZhzVtS95oT+8X1MZZUQpijIQD0kYWewcRdN5xtgWgNo2eZupCc/Aahk7oDyhacrUNL1eMjXhjzASi0v7KLC4wTE4WOBows3axuGhY0Y5OXsFoyk+yYfkEbcbr2P8NBEm8tDXVY8vSaHxPcAgaMomvjhF0Cm1rF+cwvEG0QrtkSw2X5XcU8xnCuxyRo=
  - secure: 1rvT9iqxBXdv3KgJTdmH2lSl32wtzMLj6t2q4Wb/arJfjo+xMrK08G24o84EMbPQhi00zm+pbUgoeMjFPRF4OWex4ZXlHNaNQTlRUYTddh/DXPUKackxM9F66rse5Yk/xT0e8PgjtSAVZYKsP4sVlB4TW+BikPmUjJJvynobqrW/+OqjeEYJtT/Oc4Hd/CszMcYOyfN3nv+5+Dr1ZMr4ZKcxs0iv6+EzLAA/Ix6eEabTlba+/HQYPwJj4F7cShM4kLok+Cjlc67FMSQfKMnZgVThZLYk/gfbj9+ep5/oJq/9c+zoKWupNvSiwRQ6JjFVRWnbSxMwodVq2bERQDfMxlvavAW/iryYrc/bmUaFCnGm4AglJmi5k5AqeL4MeTyALvpS6j4JmWfKFfFtl9s8El0Qibr6GDiSbaDuS42zjXu1UqyHYPMzZYCr9aek+ImuURT/gTo8QKjGvWu9acIa2k4sHXwN+4Smbj2T4SII5BnZdOSbPqrzA+eWqbW14Mi2FMKWF//0QNUdvwthermEXopcQjA3IEP+vu8QKTib00oSfaEkvVYmi2Rr9KEa6EOYsDxaF3kqqggSRIVsIOXBZavxQfzNVIDTwzHd7QhnIkwSdJddjD5R7pSqPlDS/SuCbonPCUR6h9IFNkx24WvbEXMcfkanSfhPMI1HdKtt5wk=
before_install:
  - if [["$TRAVIS_EVENT_TYPE" == "push"]]; then openssl aes-256-cbc -K $encrypted_110fd07a76f6_key -iv $encrypted_110fd07a76f6_iv -in ci-release-keystore.jks.enc -out ci-release-keystore.jks -d; fi
