<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.feelfreelinux.wykopmobilny">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".WykopApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.loginscreen.LoginScreenActivity"/>
        <activity android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.photoview.PhotoViewActivity" />

        <activity
            android:launchMode="singleTop"
            android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.mainnavigation.MainNavigationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.mikroblog.entry.EntryActivity"
            android:parentActivityName="io.github.feelfreelinux.wykopmobilny.ui.modules.mainnavigation.MainNavigationActivity"/>
        <activity android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.tag.TagActivity"
            android:parentActivityName="io.github.feelfreelinux.wykopmobilny.ui.modules.mainnavigation.MainNavigationActivity"/>
        <activity android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.input.entry.add.AddEntryActivity" />
        <activity android:name=".ui.modules.input.entry.edit.EditEntryActivity" />
        <activity android:name=".ui.modules.input.entry.comment.EditEntryCommentActivity" />
        <activity android:name=".ui.modules.pm.conversation.ConversationActivity" />
        <activity android:name=".ui.modules.settings.SettingsActivity" />
        <activity android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.links.linkdetails.LinkDetailsActivity"
            android:parentActivityName="io.github.feelfreelinux.wykopmobilny.ui.modules.mainnavigation.MainNavigationActivity"/>
        <activity android:name=".ui.modules.links.upvoters.UpvotersActivity" />
        <activity android:name=".ui.modules.links.downvoters.DownvotersActivity" />
        <activity android:name=".ui.modules.input.link.edit.LinkCommentEditActivity" />
        <activity android:name=".ui.modules.DeepLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/0.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/1.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/2.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/3.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/4.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/5.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/6.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/7.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/8.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/9.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/0.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/1.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/2.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/3.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/4.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/5.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/6.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/7.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/8.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/9.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPrefix="/tag" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPrefix="/tag" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPrefix="/wpis" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPrefix="/wpis" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.modules.links.related.RelatedActivity" />
        <activity android:name=".ui.modules.profile.ProfileActivity" />

        <receiver android:name=".ui.modules.notifications.notificationsservice.WykopNotificationsBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <provider
            android:authorities="io.github.feelfreelinux.wykopmobilny.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <service
            android:name="com.evernote.android.job.gcm.PlatformGcmService"
            tools:node="remove"/>
    </application>

</manifest>
