<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.feelfreelinux.wykopmobilny">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-sdk tools:overrideLibrary="com.ftinc.kit"/>

    <application
        android:name=".WykopApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/WykopAppTheme">
        <activity android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.loginscreen.LoginScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.photoview.PhotoViewActivity"
            android:theme="@style/TransparentActivityTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.mainnavigation.MainNavigationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.mikroblog.entry.EntryActivity"
            android:theme="@style/TransparentActivityTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="io.github.feelfreelinux.wykopmobilny.ui.modules.mainnavigation.MainNavigationActivity"/>
        <activity android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.tag.TagActivity"
            android:theme="@style/TransparentActivityTheme"
            android:parentActivityName="io.github.feelfreelinux.wykopmobilny.ui.modules.mainnavigation.MainNavigationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.input.entry.add.AddEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter
                android:label="Dodaj wpis z zdjęciem">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter
                android:label="Dodaj wpis">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.modules.input.entry.edit.EditEntryActivity"
            android:windowSoftInputMode="stateUnchanged|adjustResize"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.modules.input.entry.comment.EditEntryCommentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.modules.pm.conversation.ConversationActivity"
            android:theme="@style/TransparentActivityTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.modules.settings.SettingsActivity"
            android:theme="@style/TransparentActivityTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.links.linkdetails.LinkDetailsActivity"
            android:theme="@style/TransparentActivityTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="io.github.feelfreelinux.wykopmobilny.ui.modules.mainnavigation.MainNavigationActivity"/>
        <activity android:name=".ui.modules.links.upvoters.UpvotersActivity"
            android:theme="@style/TransparentActivityTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.modules.links.downvoters.DownvotersActivity"
            android:theme="@style/TransparentActivityTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.modules.input.link.edit.LinkCommentEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.modules.DeepLinkActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateUnchanged|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/0.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/1.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/2.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/3.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/4.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/5.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/6.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/7.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/8.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/9.*" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/0.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/1.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/2.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/3.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/4.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/5.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/6.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/7.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/8.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPattern="/link/9.*" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPrefix="/tag" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPrefix="/tag" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPrefix="/ludzie" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPrefix="/ludzie" android:scheme="http"/>
                <data android:host="www.wykop.pl" android:pathPrefix="/wpis" android:scheme="https"/>
                <data android:host="www.wykop.pl" android:pathPrefix="/wpis" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.modules.links.related.RelatedActivity"
            android:theme="@style/TransparentActivityTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <activity android:name=".ui.modules.profile.ProfileActivity"
            android:theme="@style/TransparentActivityTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <activity android:name=".ui.modules.notificationslist.NotificationsListActivity"
            android:theme="@style/TransparentActivityTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <activity android:name=".ui.modules.embedview.EmbedViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/TransparentActivityTheme" />
        <activity android:name=".ui.modules.blacklist.BlacklistActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.modules.addlink.AddlinkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        <intent-filter
            android:label="Udostępnij link">
            <action android:name="android.intent.action.SEND" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="text/plain" />
        </intent-filter>
        </activity>


        <receiver android:name=".ui.modules.notifications.notificationsservice.WykopNotificationsBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ui.modules.notifications.notificationsservice.ReadNotificationsBroadcastReceiver"
            android:exported="false" >
        </receiver>

        <provider android:name=".ui.modules.search.SearchSuggestionAdapter"
            android:authorities="io.github.feelfreelinux.SearchSuggestionAdapter" />

        <provider
            android:authorities="io.github.feelfreelinux.wykopmobilny.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <service android:name=".ui.modules.notifications.notificationsservice.NotificationPiggyback"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <activity android:name=".ui.modules.embedview.YTPlayer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

    </application>

</manifest>
