<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.feelfreelinux.wykopmobilny">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".WykopApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.loginscreen.LoginScreenActivity"/>
        <activity android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.photoview.PhotoViewActivity" />

        <activity android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.mainnavigation.MainNavigationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.mikroblog.entry.EntryActivity"
            android:parentActivityName="io.github.feelfreelinux.wykopmobilny.ui.modules.mainnavigation.MainNavigationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https"
                    android:host="www.wykop.pl"
                    android:pathPrefix="/wpis" />

                <data android:scheme="http"
                    android:host="www.wykop.pl"
                    android:pathPrefix="/wpis" />
            </intent-filter>
        </activity>

        <activity android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.mikroblog.feed.tag.TagActivity"
            android:parentActivityName="io.github.feelfreelinux.wykopmobilny.ui.modules.mainnavigation.MainNavigationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https"
                    android:host="www.wykop.pl"
                    android:pathPrefix="/tag" />
                <data android:scheme="http"
                    android:host="www.wykop.pl"
                    android:pathPrefix="/tag" />
            </intent-filter>
        </activity>
        <activity android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.input.entry.add.AddEntryActivity" />
        <activity android:name=".ui.modules.input.entry.edit.EditEntryActivity" />
        <activity android:name=".ui.modules.input.entry.comment.EditEntryCommentActivity" />
        <activity android:name=".ui.modules.pm.conversation.ConversationActivity" />
        <activity android:name=".ui.modules.settings.SettingsActivity" />
        <activity android:name="io.github.feelfreelinux.wykopmobilny.ui.modules.links.linkdetails.LinkDetailsActivity"
            android:parentActivityName="io.github.feelfreelinux.wykopmobilny.ui.modules.mainnavigation.MainNavigationActivity">
            <intent-filter>
            <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https"
                    android:host="www.wykop.pl"
                    android:pathPrefix="/link" />

                <data android:scheme="http"
                    android:host="www.wykop.pl"
                    android:pathPrefix="/link" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.modules.links.upvoters.UpvotersActivity" />
        <activity android:name=".ui.modules.links.downvoters.DownvotersActivity" />
        <activity android:name=".ui.modules.input.link.edit.LinkCommentEditActivity" />

        <receiver android:name=".ui.modules.notifications.notificationsservice.WykopNotificationsBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
